        body{
            background: #f30202;
        }
        h1{
            background   : #ecf0f1;
            text-align   : center;
            color        : #2980b9;
            border       : solid 2px #2de708;
            font-family  : verdana;
            padding      : 4px;
            margin-left  : 50px;
            margin-right : 50px;
            border-radius: 5px;
        }
    
        p{
            color        : #ecf0f1;
            margin-left  : 60px;
            margin-right : 60px;
            font-family  : verdana;
            text-align   : justify;

        }