body{
   /* background: #81ecec;*/
  /* background: url('../imagenes/fondo.png');*/
  /* background-repeat: no-repeat;*/
  /* background-position: center 50px; */
  background-repeat: repeat;
  color: black;

background: #ED4264;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFEDBC, rgba(237, 66, 100, .5)), url('../imagenes/cork-board.png');  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, rgba(255, 237, 188, ), #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 
}



